body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.navbar-title {
  font-size: 1.0rem;
  font-weight: bold;
}

.navbar-title a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-title a:hover {
  background-color: #555;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1.0rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #555;
  /* text-decoration: underline;
  text-decoration-color: white; */
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1.00rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.75rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

}


.gallery {
		padding: 2rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    background: white;
    padding: 2rem;
    }

    .gallery img {
      width: 100%;
      object-fit: cover;
      border:1px solid black;
    }

    .modal {
      position: fixed;
      background: rgba(0, 0, 0, 0.5);
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: grid;
      align-items: center;
      justify-items: center;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.5s;
    }

    .modalInner {
      border-radius: 4px;
      background: white;
      box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
      transform: translateY(-100vh);
      transition: all 0.5s;
      max-width: 1000px;
      height: calc(100vh - 100px);
      display: grid;
      grid-template-columns: 50px 1fr 50px;
      color: black;
      margin: 3rem;
    }

    .modal figure {
      height: 100%;
      display: grid;
      margin: 0;
      grid-template-rows: 1fr auto;
    }

    .modal img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    .modal.open {
      opacity: 1;
      pointer-events: all;
    }

    .modal figcaption {
      padding: 10px;
    }

    .modal h2 {
      color: black;
    }

    .modal.open .modalInner {
      transform: translateY(0);
    }
