/* Possibly use <span class="hide-mobile"> for length elements */

.page-title {
	padding: 1rem;
	padding-top: 2rem;
	height: 100%;
	font-size: 21px;
}

.page-title h3 {
	margin: 0;
}

.active-cart {
	padding: 1rem;
	display: flex;
	align-items: flex-start;
	margin: 0;
}

.container.cart {
	width: 70%;
	padding-right: 2rem;
	display: table-cell;
}

.container.checkout {
	width: 30%;
	display: table-cell;
}

.individual-cart-item {
	border-top: 2px solid black;
	padding: 10px;
	font-size: 17px;
	font-weight: bold;
	/* display: inline-table; */
}


.individual-cart-item img {
	height: 50px;
}




.row {
	display: flex;
	align-content: center;
	align-items: center;
	flex-grow: 1;
	flex-basis: 1;
}


.column {
	align-items: center;
	/* margin: auto; */
	
}

.column * {
	display: flex;
	vertical-align: middle;
}