.page-title {
	padding: 1rem;
	padding-top: 2rem;
	height: 100%;
	font-size: 21px;
}

.page-title h3 {
	margin: 0;
}

.active-cart {
	padding: 1rem;
	display: flex;
	/* disable this flex-start to shrink height to 100% */
	align-items: flex-start;
	margin: 0;
}

.container.cart {
	width: 70%;
	padding-right: 2rem;
}

.container.checkout {
	width: 30%;
	background-color: #f3f3f3;
	border:1px solid lightgray;
}

.buy-box .total-price {
	display: flex;
	padding: 1rem;
}

.buy-box button {
	display: flex;
	width: 100%;
	margin: 1rem;
}

/* Should I stylize the buy-box.button? Need to do each individual element, which changes based on browser */

.individual-cart-item {
	border-top: 1px solid lightgray;
	padding: 10px;
	font-size: 17px;
	font-weight: bold;
}

.individual-cart-item img {
	height: 50px;
}

.row {
	display: flex;
	align-content: center;
	align-items: center;
}

.column * {
	display: flex;
	align-items: center;
}

.column.small {
	flex: 1;
}

.column.large {
	flex: 5;
}

@media (max-width: 950px) {
	.individual-cart-item {
		font-size: 15px;
	}
}

@media (max-width: 850px) {
	.individual-cart-item {
		font-size: 14px;
	}
}

@media (max-width: 785px) {
	.individual-cart-item {
		font-size: 12px;
	}
}

@media (max-width: 700px) {
	.individual-cart-item {
		font-size: 11px;
	}
}