html {
	overflow: hidden; /* To prevent scroll */
}

/* Splash page */
.splash {
  padding: 0rem;
  top: 50px;
}

/* Remove margin for everything inside of .splash */
.splash * {
  margin: 0;
}

/* Contains all hero elements */
.hero-carousel {
  height: 100vh;
  width: 100%;
}

/* Background image */
.hero-image {
  background-image: url(../img/field.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: center;
  height: 100%;
  background-attachment: fixed;
}

/* Hero heading */
.hero-heading {
  position: absolute;
  width: 100%;
  top: 20%;
  left: 0;
  right: 0;
  padding: 0 1rem;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.hero-heading h1 {
  font-size: 4rem;
}

/* Hero links */
.hero-links {
  position: absolute;
  display: block;
  width: 100%;
  top: 85%;
  left: 0;
  right: 0;
  padding: 0 1rem;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.hero-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}
.link-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  vertical-align: baseline;
  justify-content: center;
}
.individual-link {
  flex: 1;
  width: 50%;
  position: relative;
  display: block !important;
}
.individual-link a {
  border-bottom: 2px solid white;
  padding: 10px 0;
}
.individual-link:first-child  {
  margin: 0 24px 0 0;
}
.individual-link:last-child  {
  margin: 0 0 0 24px;
}
.individual-link a::after {
  transition: all .25s;
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid white;
  transform: scaleX(1);
  padding: 5px 0;
}
.individual-link a:hover:after {
  transform: scaleX(0);
  transform-origin: bottom center;
}

/* Media queries: */
@media (max-width: 500px) {
  /* Reduce size of hero-text and hero links */
  .hero-heading h1 {
    font-size: 30px;
  }
  .hero-links a {
    font-size: 12px;
  }
  .individual-link:first-child  {
    margin: 0 12px 0 0;
  }
  .individual-link:last-child  {
    margin: 0 0 0 12px;
  }
  .individual-link a::after {
    content: none;
  }
}
